<div class="card border border-info" style="margin-top: 30px; margin-bottom: 50px">
  <div style="min-height: 200px">
      <%= image_tag get_user_avatar(@user) , class: "card-img-top" %>
  </div>
  <div class="card-body " style="padding: 10px">
    <p><%= @user.name %></p>
    <p>Joined at <%= @user.created_at.to_date %></p>
  </div>
</div>
