<div class="row has-margin-row">
  <%= render "nav_profile", user: @user, index_to_active: 1 %>
</div>

<div class="row">
  <%= render partial: "shared/sub_forum", collection: @sub_forums %>
  <%#= render "shared/sub_forum" %>
  <%#= render "shared/sub_forum" %>
  <%#= render "shared/sub_forum" %>
  <%#= render "shared/sub_forum" %>
</div>
