<div class="card popular-post">
  <div class="card-header">
    Forum name
  </div>
  <div class="card-body">
    <h5 class="card-title">Post title</h5>
    <p class="card-text">Created at </p>
    <a href="#" class="btn btn-primary">Go to post</a>
  </div>
</div>
