<div class="card">
  <div class="card-header">
    <%= t "static_pages.home.trending_forums" %>
  </div>
  <ul class="list-group list-group-flush">
    <% 5.times do %>
      <li class="list-group-item">
        Forum name
        <a href="#" class="btn btn-primary float-right">Join</a>
      </li>
    <% end %>
  </ul>
</div>
