<div class="card bg-dark text-white">
  <img src="https://via.placeholder.com/300x200/000000/000000" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h5 class="card-title">Some post</h5>
    <p class="card-text">Lorem ipsum dolor sit amet</p>
    <p class="card-text">Last updated 3 mins ago</p>
  </div>
</div>
