<div id="post-vote-<%= post.id %>" >
  <%= render "posts/p_interaction", {
    interaction_type: Settings.post_vote,
    vote_value: Settings.upvote,
    post_id: post.id} %>
  <span class="float-right" style="margin-right: 7px">
    <%= post.votes %>
  </span>
  <%= render "posts/p_interaction", {
    interaction_type: Settings.post_vote,
    vote_value: Settings.downvote,
    post_id: post.id} %>
</div>
