@import 'bootstrap';

.no-side-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.has-margin-row {
  margin-top: 20px;
  margin-bottom: 20px;
}

body {
  background-color: #DAE0E6;
}

.popular-post{
  margin-bottom: 20px;
}

.card-header{
  background-color: white;
}

