@import 'bootstrap';

$light-blue: #DAE0E6;

.no-side-padding {
  padding-left: 0;
  padding-right: 0;
}

.has-margin-row {
  margin-top: 20px;
  margin-bottom: 20px;
}

body {
  background-color: $light-blue;
}

.popular-post {
  margin-bottom: 20px;
}

.close {
  span {
    padding: 5px;
  }
}

.toast-area {
  position: relative;
  min-height: 50px;
}

.toast-body{
  min-width: 500px;
}

.toast{
  position: absolute;
  top: 20px;
  right: -15px;
  z-index: 99;
}

